# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Production build outputs
dist/
build/

# Editor / OS directories & files
.vscode/
.idea/
.DS_Store
Thumbs.db

/backend_doc.txt
/DB_doc.txt
/frontend_doc.txt